html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  height: 100vh;
}

.navBar {
  position: fixed;
  left: 0px;
  height: 100vh;
  background-color: white;
  border: 1px solid #dee2e6;
  width: 25%;
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 900;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

.navBar li {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.navBar a {
  text-decoration: none;
  padding: 20px 75px;
}

.navBar a:hover,
.navBar a:active {
  background-color: #f8f9fa;
}

.navBar h1 {
  text-align: center;
}

.fa-bars {
  font-size: 25px;
}

.burgerMenu {
  z-index: 1000;
  position: fixed;
  left: 90%;
  top: 5%;
  cursor: pointer;
  background-color: #d20c0c;
  border-radius: 50%;
  padding: 10px;
}

.burgerMenu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.navBar-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.landingPageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landingPageInfo h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
}

.landingPageInfo h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  color: #2C2C2C;
  font-weight: 700;
  text-transform: uppercase;
}

.landingPageInfo h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 500;
  color: #d20c0c;
  text-transform: uppercase;
}

.landingPageInfo p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 300;
}

img.circle {
  width: 16%;
  border-radius: 50%;
}

.shapes {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.shapes .shapeOne {
  position: absolute;
  top: 10%;
  left: 5%;
}

.shapes .shapeTwo {
  position: absolute;
  top: 12%;
  left: 35%;
}

.shapes .shapeThree {
  position: absolute;
  top: 85%;
  left: 25%;
}

.shapes .shapeFour {
  position: absolute;
  top: 80%;
  left: 90%;
}

.shapes .shapeFive {
  position: absolute;
  top: 50%;
  left: 70%;
}

.shapes .shapeSix {
  position: absolute;
  top: 60%;
  left: 7%;
}

.shapes .shapeSeven {
  position: absolute;
  top: 28%;
  left: 90%;
}

.shapes .shapeEight {
  position: absolute;
  top: 50%;
  left: 30%;
}

.shapes .shapeNine {
  position: absolute;
  top: 17%;
  left: 60%;
}

.learnMore {
  text-align: center;
  position: relative;
  top: 10%;
}

.learnMore .fa-chevron-down {
  color: #2C2C2C;
  font-size: 50px;
  position: relative;
  top: 25px;
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

@media (max-width: 960px) {
  .shapes .shapeFive {
    left: 80%;
  }
  .shapes .shapeEight {
    top: 40%;
    left: 20%;
  }
  .navBar {
    width: 40%;
  }
}

@media (max-width: 768px) {
  header {
    height: 90vh;
  }
  .navBar {
    width: 40%;
  }
  .navBar a {
    padding: 20px 40px;
  }
  .burgerMenu {
    left: 85%;
  }
}

@media (max-width: 480px) {
  .navBar {
    width: 50%;
  }
}

@media (max-width: 375px) {
  .burgerMenu {
    left: 77%;
  }
  .navBar {
    width: 70%;
  }
  h1 {
    text-align: center;
  }
}

.aboutMe {
  background-color: #f8f9fa;
  padding: 80px 0px;
}

.flexContainer {
  display: flex;
  margin: 0 auto;
}

.flexContainer .childContainer {
  width: 40%;
  margin: auto;
}

.flexContainer .secondChildContainer {
  width: 40%;
  margin: auto;
}

.flexContainer .secondChildContainer h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  color: #2C2C2C;
  font-weight: 500;
  margin: 0px 0px 30px 0px;
}

.flexContainer .secondChildContainer p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 300;
  line-height: 30px;
}

.grandChildContainer ul {
  justify-content: flex-start;
}

.grandChildContainer ul li {
  padding: 0px 20px 0px 0px;
  margin: 30px 0px;
}

.grandChildContainer ul li a {
  display: block;
  text-align: center;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding-top: 8px;
}

@media (max-width: 768px) {
  .aboutMe {
    padding: 80px 0px;
  }
  .flexContainer {
    flex-direction: column;
  }
  .flexContainer .childContainer {
    width: 30%;
    margin: 0 auto;
  }
  .flexContainer .secondChildContainer {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .flexContainer .secondChildContainer h2 {
    font-size: 3rem;
    padding-top: 10px;
    margin-bottom: 5px;
  }
  .flexContainer .secondChildContainer p {
    font-size: 14px;
    line-height: 30px;
  }
  .grandChildContainer ul {
    justify-content: center;
  }
}

.sectionTitle {
  margin-top: 50px;
}

.sectionTitle span {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sectionTitle h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #2C2C2C;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0px 50px 0px;
}

.flexContainerTwo,
.flexContainerThree {
  display: flex;
}

.flexContainerTwo .thirdChildContainer,
.flexContainerTwo .fifthChildContainer,
.flexContainerThree .thirdChildContainer,
.flexContainerThree .fifthChildContainer {
  width: 40%;
  margin: 0 auto;
}

.flexContainerTwo .fourthChildContainer,
.flexContainerTwo .sixthChildContainer,
.flexContainerThree .fourthChildContainer,
.flexContainerThree .sixthChildContainer {
  width: 40%;
  margin: auto;
}

.flexContainerTwo .fourthChildContainer h4,
.flexContainerTwo .sixthChildContainer h4,
.flexContainerThree .fourthChildContainer h4,
.flexContainerThree .sixthChildContainer h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #2C2C2C;
  font-weight: 500;
  margin-bottom: 10px;
}

.flexContainerTwo .fourthChildContainer p,
.flexContainerTwo .sixthChildContainer p,
.flexContainerThree .fourthChildContainer p,
.flexContainerThree .sixthChildContainer p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 10px;
}

.flexContainerTwo .fourthChildContainer span,
.flexContainerTwo .sixthChildContainer span,
.flexContainerThree .fourthChildContainer span,
.flexContainerThree .sixthChildContainer span {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 300;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #dee2e6;
  padding: 0px 5px;
  line-height: 30px;
  background-color: #f8f9fa;
}

.flexContainerThree {
  margin: 100px 0px;
}

.workButtons {
  margin-top: 10px;
}

.workButtons a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .sectionTitle {
    text-align: center;
  }
  .flexContainerTwo,
  .flexContainerThree {
    flex-direction: column;
    text-align: center;
  }
  .flexContainerTwo .thirdChildContainer,
  .flexContainerTwo .fifthChildContainer,
  .flexContainerThree .thirdChildContainer,
  .flexContainerThree .fifthChildContainer {
    width: 70%;
  }
  .flexContainerTwo .fourthChildContainer,
  .flexContainerTwo .sixthChildContainer,
  .flexContainerThree .fourthChildContainer,
  .flexContainerThree .sixthChildContainer {
    width: 70%;
  }
  .flexContainerTwo .fourthChildContainer h4,
  .flexContainerTwo .sixthChildContainer h4,
  .flexContainerThree .fourthChildContainer h4,
  .flexContainerThree .sixthChildContainer h4 {
    margin-top: 30px;
  }
}

.expertise {
  background-color: #f8f9fa;
}

.expertise .heading h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #2C2C2C;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.skillsSection {
  padding: 80px 0px;
}

.icons {
  display: flex;
}

.icons ul {
  flex-wrap: wrap;
  width: 68%;
  margin: 0 auto;
}

.icons ul li {
  width: 15%;
  margin: 10px auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
}

.icons ul p {
  color: #d20c0c;
  text-align: center;
  font-size: 15px;
  height: 20px;
}

.experienceContainer {
  display: flex;
}

.experienceContainer .heading {
  width: 30%;
}

.experienceContainer .box {
  width: 70%;
}

.experienceContainer .box .experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #dee2e6;
  padding: 20px;
}

.experience h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 500;
  margin-bottom: 10px;
}

.experience p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #2C2C2C;
  font-weight: 400;
  line-height: 20px;
}

.experience h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #2C2C2C;
  font-weight: 500;
}

.experience .companyName {
  width: 20%;
}

.experience .information {
  width: 50%;
}

.experience:hover {
  transform: scale(1.03);
  transition: transform 500ms ease-in-out;
}

.date {
  background-color: #dee2e6;
  padding: 5px 10px;
  border-radius: 5px;
}

.educationContainer {
  display: flex;
  margin-top: 80px;
}

.educationContainer .heading {
  width: 30%;
}

.educationContainer .box {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.educationContainer .box .education {
  width: 48%;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid #dee2e6;
  padding: 20px;
}

.education h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.education p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #2C2C2C;
  font-weight: 400;
  line-height: 20px;
}

.education h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #2C2C2C;
  font-weight: 500;
  margin: 10px auto;
  background-color: #dee2e6;
  padding: 5px 10px;
  border-radius: 5px;
}

.education .educationDate {
  width: max-content;
}

@media (max-width: 768px) {
  h4 {
    text-align: center;
  }
  .icons ul li {
    width: 22%;
  }
  .experienceContainer,
  .educationContainer {
    flex-direction: column;
    align-items: center;
  }
  .experienceContainer .heading,
  .educationContainer .heading {
    width: 100%;
  }
  .experienceContainer .box,
  .educationContainer .box {
    flex-direction: column;
    align-items: center;
  }
  .experienceContainer .box .experience,
  .experienceContainer .box .education,
  .educationContainer .box .experience,
  .educationContainer .box .education {
    flex-direction: column;
    text-align: center;
  }
  .experience .companyName {
    width: 80%;
  }
  .experience .information {
    width: 80%;
  }
  .experience h6,
  .experience p {
    margin-bottom: 10px;
  }
  .educationContainer .box .education {
    width: 100%;
  }
  .educationDate {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .icons ul li {
    width: 34%;
  }
}

@media (max-width: 375px) {
  .icons ul li {
    width: 45%;
  }
}

.wrapper h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 500;
  margin-bottom: 20px;
}

.boxTwo {
  display: flex;
  justify-content: space-between;
}

.boxTwo .phone,
.boxTwo .email {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  width: 48%;
  text-align: center;
  margin-bottom: 50px;
  padding: 25px;
}

.boxTwo .phone i,
.boxTwo .email i {
  font-size: 40px;
  padding: 20px 0px;
}

.boxTwo .phone p,
.boxTwo .email p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 300;
  line-height: 30px;
}

.boxTwo .phone h6,
.boxTwo .email h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 300;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form fieldset {
  border: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

form fieldset label {
  display: none;
}

form fieldset input {
  width: 48%;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 300;
  padding: 5px 0px 5px 15px;
  margin-bottom: 30px;
  border: 1px solid #dee2e6;
}

form textarea {
  width: 100%;
  height: 200px;
  resize: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 300;
  padding: 10px 0px 10px 15px;
  border: 1px solid #dee2e6;
}

form .send {
  background-color: #d20c0c;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-style: none;
  border-radius: 40px;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 30px auto;
  display: block;
}

@media (max-width: 768px) {
  .boxTwo {
    flex-direction: column;
    align-items: center;
  }
  .boxTwo .phone,
  .boxTwo .email {
    width: 70%;
  }
  .boxTwo .phone p,
  .boxTwo .email p {
    font-size: 14px;
  }
  form fieldset {
    flex-direction: column;
    align-items: center;
  }
  form fieldset input {
    width: 70%;
  }
  form textarea {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #2C2C2C;
  font-weight: 300;
  padding: 15px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
div,
section {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

ul li {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 500;
  padding: 20px;
}

ul li a {
  z-index: 100;
  position: relative;
  color: #2C2C2C;
}

button {
  background-color: #d20c0c;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-style: none;
  border-radius: 40px;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0px 5px;
  position: relative;
  z-index: 2;
}

button:hover,
button:active,
.send:hover,
.send:active {
  background-color: rebeccapurple;
  transition: 0.5s;
}
