.aboutMe {
    background-color: $lightgrey;
    padding: 80px 0px;
}

.flexContainer {
    display: flex;
    margin: 0 auto;
    .childContainer {
        width: 40%;
        margin: auto;
    }
    .secondChildContainer {
        width: 40%;
        margin: auto;
        h2 {
            @include secondTitle;
            margin: 0px 0px 30px 0px;
        }
        p {
            @include body;
            line-height: 30px;
        }
    }
}

.grandChildContainer {
    ul {
        justify-content: flex-start;
        li {
            padding: 0px 20px 0px 0px;
            margin: 30px 0px;
            a {
                display: block;
                text-align: center;
                border: 1px solid $darkgrey;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                padding-top: 8px;

            }
        }
    }
}

@media (max-width: 768px) {
    .aboutMe {
        padding: 80px 0px;
    }
    .flexContainer {
        flex-direction: column;
        .childContainer {
            width: 30%;
            margin: 0 auto;
        }
        .secondChildContainer {
            text-align: center;
            width: 80%;
            margin: 0 auto;
            h2 {
                font-size: 3rem;
                padding-top: 10px;
                margin-bottom: 5px;
            }
             p {
                 font-size: 14px;
                 line-height: 30px;
             }
        }
    }

    .grandChildContainer {
        ul {
            justify-content: center;
        }
    }
}