header {
    height: 100vh;
}

.navBar {
    position: fixed;
    left: 0px;
    height: 100vh;
    background-color: white;
    border: 1px solid $darkgrey;
    width: 25%;
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 900;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    li {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
    }

    a {
        text-decoration: none;
        padding: 20px 75px;
    }

    a:hover,
    a:active {
        background-color: $lightgrey;
    }

    h1 {
        text-align: center;
    }
}

.fa-bars {
    font-size: 25px;
}

.burgerMenu {
    z-index: 1000;
    position: fixed;
    left: 90%;
    top: 5%;
    cursor: pointer;
    background-color: $red;
    border-radius: 50%;
    padding: 10px;
}

.burgerMenu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.navBar-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.landingPageInfo {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h2 {
        @include sixthTitle;
        margin-top: 20px;
        text-transform: uppercase;
    }

    h1 {
        @include mainTitle;
    }
    
    h3 {
        @include sixthTitle;
        color: $red;
        text-transform: uppercase;
    }
    
    p {
        @include body;
    }
}

img.circle {
    width: 16%; 
    border-radius: 50%;
}

.shapes {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    .shapeOne {
        position: absolute;
        top: 10%;
        left: 5%;
    }
    .shapeTwo {
        position: absolute;
        top: 12%;
        left: 35%;
    }

    .shapeThree {
        position: absolute;
        top: 85%;
        left: 25%;
    }
    
    .shapeFour {
        position: absolute;
        top: 80%;
        left: 90%;
    }
    
    .shapeFive {
        position: absolute;
        top: 50%;
        left: 70%;
    }
    
    .shapeSix {
        position: absolute;
        top: 60%;
        left: 7%;
    }
    
    .shapeSeven {
        position: absolute;
        top: 28%;
        left: 90%;
    }
    
    .shapeEight {
        position: absolute;
        top: 50%;
        left: 30%;
    }
    
    .shapeNine {
        position: absolute;
        top: 17%;
        left: 60%;
    }
}

.learnMore {
    text-align: center;
    position: relative;
    top: 10%;
    .fa-chevron-down {
        color: $black;
        font-size: 50px;
        position: relative;
        top: 25px;
      }
}

.bounce {
	-webkit-animation: bounce 2s;
	        animation: bounce 2s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

@media (max-width: 960px) {
    .shapes {
        .shapeFive {
            left: 80%;
        }
        .shapeEight {
            top: 40%;
            left: 20%;
        }
    }

    .navBar {
        width: 40%;
    }
}

@media (max-width: 768px) {
    header {
        height: 90vh;
    }

    .navBar {
        width: 40%;
        a {
            padding: 20px 40px;
        }
    }

    .burgerMenu {
        left: 85%;
    }
}

@media (max-width: 480px) {
    .navBar {
        width: 50%;
    }
}

@media (max-width: 375px) {
    .burgerMenu {
        left: 77%;
    }
    .navBar {
        width: 70%;
    }

    h1 {
        text-align: center;
    }
}