@import 'setup';
@import 'mixin';
@import 'header';
@import 'aboutMe';
@import 'projects';
@import 'expertise';
@import 'contact';
@import 'footer';

// STRIPPING & GLOBAL STYLES

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
div,
section {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%; 
}