@import 'setup';
@import 'mixin';
@import 'header';
@import 'aboutMe';
@import 'projects';
@import 'expertise';
@import 'contact';
@import 'footer';

// STRIPPING & GLOBAL STYLES

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
div,
section {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img {
    max-width: 100%; 
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
        display: inline-block;
        @include sixthTitle;
        padding: 20px;
        a {
            z-index: 100;
            position: relative;
            color: $black;
        }
    }
}

button {
    @include button;
    position: relative;
    z-index: 2;
}

button:hover,
button:active,
.send:hover,
.send:active {
    background-color: rebeccapurple;
    transition: 0.5s;
}